{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "library.html" as library %}

{% block title %}
    {{ super()}}
    Live Captures
{% endblock %}

{% block content %}
    {{ super() }}


    <div class="container-fluid content">
        <img src="{{ url_for('static', filename='/images/red_btn.png') }}" id="stop_btn" class="shark_btn"></img>
        <img src="{{ url_for('static', filename='/images/green_btn.png') }}" id="run_btn" class="shark_btn"></img>

        <div class="col-md-12">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <br/>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="interfaces">Select Interfaces</label>
                        <select multiple class="form-control" id="interface">
                            {% for interface in interfaces %}
                                {% if interface[0] in curInterfaces %}
                                    <option selected value="{{ interface[0] }}">{{ interface[1] }}</option>
                                {% else %}
                                    <option value="{{ interface[0] }}">{{ interface[1] }}</option>
                                {%  endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="filter">Filter String</label>
                        {% if bpf_filter == None %}
                            <input type="text" class="form-control" id="filter_str" value=""/>
                        {% else %}
                            <input type="text" class="form-control" id="filter_str" value="{{ bpf_filter }}"/>
                        {%  endif %}

                    </div>
                </div>
            </div>
            <div class="row">

                <div class="panel panel-default packets live">

                    <div class="panel-body splitter">


                        <div class="packetList">
                            <table id="livetable" class="table table-condensed table-hover" data-toolbar="#custom-toolbar" data-toggle="table" data-show-columns="true">
                                <thead>
                                <tr>
                                    <th data-width="100">#</th>
                                    <th data-width="100" data-field="Time">Time</th>
                                    <th data-width="100" data-field="Delta">Delta</th>
                                    <th data-width="150" data-field="Source">Source</th> <!-- <small class="pull-right text-muted">(port)</small> -->
                                    <th data-width="150" data-field="Destination">Destination</th>
                                    <th data-width="100">Protocol</th>
                                    <th data-width="100">Length</th>
                                    <th data-field="Info">Info</th>
                                </tr>
                                </thead>

                                <tbody id="packet_container">

                                </tbody>
                            </table>
                        </div>
                        <div class="packetView">
                            <div class="spinner text-center hide"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
                            <div class="packetPane"></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Tags Modal -->
        </div>
    </div>



{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.splitter-0.14.0.js') }}"></script>

    <script type="text/javascript">

        var tag_list = [{% for tag in tags%} "{{tag}}",{% endfor %}];

        $(document).ready(function(){
            var qPackets = [];
            var qLen = 50;

            $('a#packetStats').on('click', function(e){
                e.preventDefault();
                $('div.packetStats').toggleClass('hide');
            });

            $('.bootstrap-tagsinput').prepend('<i class="fa fa-tags"></i>');

            var width = $('#wrapper').width() - 50;

            $('.splitter').css({height: '100%', width: width + 'px'}).split({
                orientation: 'horizontal',
                limit: 2,
                position: '50%'
            });

            $('a.filter-stream').on('click', function(e){
                window.location.href= window.location.pathname + '?display_filter=' + $(this).data('filter');
            });

            function getDisplayFilter()
            {
                var qstrings = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < qstrings.length; i++) {
                    if (qstrings[i].indexOf('display_filter') >= 0){
                        var filter = qstrings[i].replace('display_filter=', '');
                        return filter;
                    }
                }
            }

            var display_filter = decodeURIComponent(getDisplayFilter());

            if (display_filter != 'undefined') {
                $('input#display-filter').val(display_filter);
            }


            $('input#display-filter').keyup(function(e){
                event.preventDefault();

                if (e.keyCode == 13) {
                    window.location.href= window.location.pathname + '?display_filter=' + $('input#display-filter').val();
                }
            });

            $('#clear-filter').on('click', function(e){
                e.preventDefault();
                window.location.href= window.location.pathname.split('?')[0];
            });

            $('button.dropdown-toggle').dropdown();
            $(".bootstrap-tagsinput input").typeahead({ source:tag_list, confirmKeys: [13, 44] });

            $('.fixed-table-container').css('height', $('.top_panel').height()-60);

            $(document.body).on('mouseup', function(){
                $('.fixed-table-container').css('height', $('.top_panel').height()-60);
            });

            var socket = io.connect("http://" + document.domain +':' + location.port + '/livecapture');
            var received_data = [];
            $('#stop_btn').hide();
            $('#run_btn').show();

            socket.on("newdata", function(msg){
                var packet = msg.data;
                console.log("Received data" + packet);

                var new_record = '';

                if (packet.protocol == 'HTTP') {
                    new_record = '<tr id="' + packet.no + '" class="success">';
                }else if (packet.protocol == 'TCP') {
                    new_record = '<tr id="' + packet.no + '" class="info">';
                }else if (packet.protocol == 'UDP'){
                    new_record = '<tr id="' + packet.no + '" class="warning">';
                }else{
                    new_record = "<tr>";
                }

                new_record += '<td  style="width:100px;">' + packet.no + '</td>';
                new_record += '<td style="width:100px;">' + packet.time + '</td>';
                new_record += '<td style="width:100px;">' + '' + '</td>';
                new_record += '<td style="width:150px;">' + packet.src_ip + '</td>';
                new_record += '<td style="width:150px;">' + packet.dst_ip + '</td>';
                new_record += '<td style="width:100px;">' + packet.protocol + '</td>';
                new_record += '<td style="width:100px;">' + packet.length + '</td>';
                new_record += '<td>' + packet.info + '</td>';
                new_record += '</tr>';

                if (qPackets.length < qLen){

                } else {
                    $('#packet_container tr:first-child').remove();
                    qPackets.shift();
                }
                qPackets.push({'no':packet.no, 'detail':packet.detail});

                $('#packet_container').append(new_record);
                $('#stop_btn').show();
                $('#run_btn').hide();

                var scrollBottom = $('.fixed-table-body').height();
                $('.fixed-table-body').scrollTop(10000);
            });

            socket.on('error', function(err){
                console.log(err);
                $('#stop_btn').hide();
                $('#run_btn').show();
            });

            $('#stop_btn').hide();
            $('#run_btn').show();

            function selectedInterfaceValues(){
                var result= [];

                $('#interface option:selected').each(function(){
                    result.push($(this).val());
                });

                return result;
            }
            $('#run_btn').click(function(){
                if ($('#stop_btn').is(':visible')){
                    return;
                }

                var interfaces = selectedInterfaceValues();
                var filter_str = $('#filter_str').val();
                var jsondata = JSON.stringify({"interface":interfaces, 'filter':filter_str});


                $.ajax({
                    url: '/run_capture',
                    type: 'POST',
                    data:{'data':jsondata},

                    success: function(response){
                        $('#stop_btn').show();
                        $('#run_btn').hide();
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });

            $('#stop_btn').click(function(){
                if ($('#run_btn').is(':visible')){
                    return;
                }

                $.ajax({
                    url: '/stop_capture',
                    type: 'POST',
                    success: function(response){
                        $('#stop_btn').hide();
                        $('#run_btn').show();
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });

            $('#livetable').on('click', 'tbody tr', function(event){
                var sel_tr_id = $(this).attr('id');
                var packetPane = $('.packetPane');
                packetPane.html('');
                $('.spinner').removeClass('hide');

                for (var index = 0; index < qPackets.length; index++){
                    if (sel_tr_id == qPackets[index]['no']){
                        $('.spinner').addClass('hide');
                        packetPane.html(qPackets[index]['detail']);

                        $('a.packetHeader').on('click', function(e){
                            // e.preventDefault();
                            var panel = $(this).data('target');
                            $(panel).toggleClass('collapse');
                            $(this).children('i').toggleClass('fa-rotate-90');

                        });
                    }
                }
            });

            window.setTimeout(function() { $(".alert").alert('close'); }, 5000);
            $('.packets').css('width', 'calc(100vw - 50px) - $(".cd-side-nav").width()');
            $('#custom-toolbar').css('width', 'calc(100vw - 50px) - $(".cd-side-nav").width()');
            $('.fixed-table-container').css('width', 'calc(100vw - 50px) - $(".cd-side-nav").width()');
            $('.top_panel').css('overflow', 'hidden');
        });
    </script>
{% endblock %}